@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Madimi+One&display=swap');

:root {
--cor-primaria: #222831;
--cor-secundaria: #EEEEEE;
--cor-terciaria: #76ABAE;
--cor-hover: #31363F;

--fonte-primaria: "Madimi One", sans-serif;
--fonte-secundaria: "Libre Baskerville", sans-serif;

}

* {
    margin: 0;
    padding: 0;
}

body {
    /* height: 50vh; */
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho{
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 50px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-primaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}


.titulo-destaque{
    color: var(--cor-terciaria);
}

.apresentacao{
    padding: 5% 13%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-family: var(--fonte-primaria);
    font-size: 2.25rem;
}

.apresentacao__conteudo__testo{
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    text-align: justify;
    
}
.apresentacao__links{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    font-family: var(--fonte-primaria);
    font-size: 1.50rem;
}

.apresentacao__links__subtitulos {
    font-size: var(--fonte-secundaria) 
}

.apresentacao__links__navegacao {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 378px;
    text-align: center;
    border-radius: 8%;
    font-size: 1.5rem;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-primaria)
}
.apresentacao__links__link:hover {
    background-color: var(--cor-hover);
    cursor: pointer;
}

.img__perfil {
    width: 50%;
}

.img__curriculum {
    width: 20%;
    border-radius: 10%; 
    margin: 40px
}

.profile {
    display: flex;
    align-items: center;
}


.resume {
    display: flex;
    flex-direction: column;
    padding: 5% 13%;
    display: flex;
    justify-content: space-between;
    gap: 32px;
    align-items: center;
}

.aprecentacao__skills {
    font-size: 1.5rem; 
    font-family: var(--fonte-primaria);
    margin-bottom: 10px;
}

.category-divider {
    margin-top: 10px;
    border: 1px dotted var(--cor-terciaria);

}
.skills {
    display: flex;
    flex-wrap: wrap; 
}

.skill-category {
    width: calc(33.33% - 50px); 
    margin-bottom: 15px;
    margin-right: 20px; 
    box-sizing: border-box; 
}

.icon-title-container {
    display: flex;
    align-items: center;
}

.icon-title-container i {
    margin-right: 10px; 
}

.education-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1rem;
    font-family: var(--fonte-secundaria);
    text-align: justify;
}

.education-info p {
    border-left: 2px dotted var(--cor-terciaria); 
    padding-left: 10px; 
}

.rodape {
padding: 10px;
text-align: center;
color:var(--cor-primaria);
background-color: var(--cor-terciaria);
font-family: var(--fonte-secundaria);
font-size: 1.5rem;
}

@media (max-width: 1200px){
    .cabecalho{
        padding: 10%;
    }

    .cabecalho__menu{
        justify-content: center;
    }

    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo{
        width: auto;
    }  

    .skill-category {
        width: auto;
    }
    
}



